.MainNav{
    margin: 0 auto;
    background-color: aquamarine;
    font-size: 15px;
    font-family: 'arial';
}
.logo {
    width: 50px;
    height: 100px;
    margin: 0 auto;
    padding-top: 50px;
}