#mainSection {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    
    .user {
        max-width: 500px;
        padding: 10px;
    }
    img {
        cursor: pointer;
        transition: 0.5s ease;  
    }
    img:hover {
        cursor: pointer;
        border: 5px solid;
        transform: scale(0.80);
    }
}