.Car_Panel {
    padding-top: 100px;
    justify-content: center;
    background-color:black;
    justify-content: flex-start;
    height: 900px;
}
.carshowcase {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.show-data{
    display: block;
}
.info{
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
    

    h1
    {
        color: rgb(220, 20, 37);
        margin: 0 auto;
        font-family: arial;
        font-size: 30px;
        font-weight: 1000;
        
    }
    p
    {
        color: burlywood;
        font-family: arial;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
        margin: 0 auto;
    }

}